@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li a.active {
    color: #ff6901 !important;
}

#toc-container a.active {
    color: #ff6901 !important;
    background: #eeeeee;
    border-left-color: #ff6901;
}

#toc-container ul li a.level-2 {
    padding-left: 0.8rem;
}

#toc-container ul li a.level-3 {
    padding-left: 1.8rem;
}

#toc-container ul li a.level-4 {
    padding-left: 2.8rem;
}

#blog-content h1 {
    margin: 0 0 0.6rem;
    font-size: 30px;
    font-weight: 700;
}

#blog-content h2 {
    margin: 0 0 0.6rem;
    font-size: 24px;
    font-weight: 700;
}

#blog-content h3 {
    margin: 0 0 0.6rem;
    font-size: 20px;
    font-weight: 700;
}

#blog-content h4 {
    margin: 0 0 0.6rem;
    font-size: 18px;
    font-weight: 700;
}

#blog-content h5 {
    margin: 0 0 0.6rem;
    font-size: 16px;
    font-weight: 700;
}

#blog-content p {
    margin: 0.5rem 0;
    line-height: 28px;
}

#blog-content ul {
    list-style-type: disc;
    padding-left: 16px;
}

#blog-content ul li {
    line-height: 28px;
}

#blog-content pre code {
    overflow: auto;
    padding: auto;
    margin: auto;
    background-color: transparent;
    border-radius: 0;
}

#blog-content a {
    color: dodgerblue;
}

#blog-content code {
    padding: 0.2em 0.4em;
    margin: 0;
    background-color: rgba(175, 184, 193, 0.2);
    border-radius: 6px;
    color: #8f0e00;
}
